@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=IBM+Plex+Sans+KR&display=swap');

.container{
    background-color: #fdfdfdc4;
   position: relative;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    outline: 1px solid black;
    width: 100%;
    height: 80px;
    padding: 10px 0 10px 0;
}

.addPointer{
    cursor: pointer;
}

.addBtnWrap{
    display : flex;
	justify-content : center;
	align-items : center;
    padding-left: 20px;
}

.addBtn{
    padding: 0 10px 0 10px;
    outline: 1px solid black;
    font-size: 1.2em;
    
}

.saveAndCancle{
    padding: 0;
    width: 200px;
    display : flex;
    flex-direction: row;
}

.saveAndCancle span {
    margin: 5px;
    outline: 1px solid lightgray;
    border-radius: 1px;
    display: inline-block;
    width: 70px;
    height: 50px;
    display : flex;
	justify-content : center;
	align-items : center;

}
  
.cancleBtn{
    color: #504e4e;
}

.saveBtn{
    color: #fff;
    background-color: rgb(57, 152, 240);
}

.cancleBtn:hover{
    background-color: rgb(213, 227, 240);
}

.saveBtn:hover{
    background-color: rgb(43, 143, 236);
}



.content{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 5px 0 0 0;
}


.categoryList{
    border: 1px solid black;
    flex: 50%;
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 1.3em;
    color: black;
}

.categoryList div{
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 15px;

}
.categoryList div:hover{
    cursor: pointer;
}

.active{
    background-color: aquamarine;
    color: rgb(43, 143, 236);
}



.categoryWrite{
    border: 1px solid black;
    flex: 50%;
    padding: 0 40px 0 40px;
}

.categoryNameBox{
    display: flex;
    flex-direction: column;
    position: relative;
}

.categoryNameBox > label{
    position: absolute;
    bottom: 60px;
    font-size: small;
    color: lightgray;
}

.categoryName{
    height: 100px;
    border-bottom: 2px solid lightgray;

    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 1.3em;
    color: black;

    display: flex;
    align-items: flex-end;
}

.categoryName > input {
    margin-bottom: 4px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: none;
    background-color: transparent;
    width: 100%;
}

.categoryName > input:focus{
    box-shadow: none;
}



.txt{
    margin-top: 20px;
    height: 400px;
    outline: 1px solid black;
}



