/* styles.css */

#userList-ul {
    margin: 0;
    padding: 1%;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

button {
    padding: 8px 12px;
    margin: 0 5px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
}

button:disabled {
    background-color: #ddd;
    color: #aaa;
    cursor: not-allowed;
}

span {
    margin: 0 10px;
}




/** UserList **/
.userList{
    margin-top: 50px;
}

.userBox {
    display: flex;
    position: relative;
    align-items: center;
}

.userIcon {
    width: 25px;
    height: 25px;
}

.nickname {
    margin-left: 8px;
}

.userEmail{
    color: rgb(128, 128, 128,0.8);
    font-size: 0.8em;
}

.signupDate{
    position: absolute;
    right: 10px;
    font-size: 0.8em;
    color: rgb(128, 128, 128,0.8);
}

.pageBtn{
    padding: 8px 12px;
    margin: 0 5px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
}


