

.userList{
    margin-top: 20px;
    overflow-y: scroll;
    max-height: 38rem;
}


.userList h4{    
    margin: 0px 0px 10px 30px;
}

.userList h5{    
    margin: 0px 0px 30px 30px;
}

.userBox {
    display: flex;
    position: relative;
    align-items: center;
}

.userIcon {
    width: 25px;
    height: 25px;
}

.nickname {
    margin-left: 8px;
    width: 100px;
    margin-right: 40px;
}

.userEmail{
    color: rgb(128, 128, 128,0.8);
    font-size: 0.8em;
}

.signupDate{
    position: absolute;
    right: 10px;
    font-size: 0.8em;
    color: rgb(128, 128, 128,0.8);
}


.boxbox{
    display: flex;
    flex-direction: column;
}

.authTag{
    display: inline-block;
    font-style: italic;
    text-align: center;
    font-size: 1.1em;
    color: rgb(58, 57, 57);
    padding: 2px 5px;
    border: 1px solid transparent;    
    background-color: rgb(83, 162, 236);
    border-radius: 15px;
    cursor: default;
}

.info{
    display: flex;
}

.pageBar{
    position: absolute;
    bottom: -400px;
    left: 50%;
    transform: translate(-50%);
}