.detail_box {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.detail-category {
    font-family: 'TTHakgyoansimUndongjangL';  
    font-size: smaller;
    color: rgb(146, 146, 146);
}

#detail-userbox {
    border-bottom: 1px solid rgb(146, 146, 146);

}
.detail-user {
    font-family: 'IBMPlexSansKR-Regular';
    font-weight: bold;
    font-size: small;
}

.detail-price {
    font-family: 'yg-jalnan';
}

.detail-title {
    font-family: 'TTHakgyoansimUndongjangL';
    font-size: 1.5rem;
}
#photo-box {
    height: 30rem; /* 부모 요소의 높이를 30rem으로 고정합니다. */
    display: flex;
    justify-content: center;
    align-items: center;
}

#photo {
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item img {
    border: 1px solid;
    height: 30rem;
}

#detail-description {
    font-family: 'SUIT-Regular';
    min-height: 20rem;
    overflow-y: auto;
}

#productChat-btn{
    margin-top: 1rem;
    background-color: transparent;
    border-radius: 100px;
    border: transparent;
    width: 4rem;
}

#productChat-btn:hover{
    border: 0.5px solid rgb(255, 196, 0);

}

.chatIcon_dp {
    width: 100%;

}