a {
  text-decoration: none;
}

.ListPageBox {
  border: 1px solid;
  display: flex;
  flex-direction: column;
}

.custom-button {
  font-family: 'TTHakgyoansimUndongjangL';
  font-size: 1rem;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form {
  display: flex;
  justify-content: flex-end; /* 자식 요소들을 오른쪽으로 정렬합니다. */
  align-items: center;
  margin-bottom: 1rem;
}

#searchBox {
  width: 20%;
  height: 10%;
  margin-right: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  justify-content: start;
}

.product_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* 가로 방향으로 가운데 정렬 */
}

.product_container>* {
  flex: 0 0 calc(25% - 10px);
  /* 원하는 간격으로 조절 */
  margin: 0 0 20px 10px;
  /* 오른쪽 및 아래쪽 간격을 추가하고자 하는 경우 */
}


/* 반응형 디자인 추가 */
@media (max-width: 768px) {
  .product_container>* {
    flex: 0 0 calc(50% - 10px);
    /* 화면이 768px 이하일 때, 2개씩 나타나도록 조절 */
  }
}

@media (max-width: 576px) {
  .product_container>* {
    flex: 0 0 calc(100% - 10px);
    /* 화면이 576px 이하일 때, 1개씩 나타나도록 조절 */
  }
}


/*-------------------------------------------------------------------------------------------------*/

/*ProductItem CSS*/

.product-card {
  padding: 0.3rem;
  margin-inline: 2%;
  max-width: 260px;
  box-shadow: 0 4px 8px rgba(81, 131, 17, 0.164);
}

.card-title {
  font-size: 70%;
  margin: 2%;
  text-align: right;
  font-family: 'NanumSquareNeo-Variable';
  border: 1px solid black;
}

.card-img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  border: solid 1px;
}

.product-title {
  font-size: 80%;
  font-weight: bold;
  font-family: 'SOYOMapleBoldTTF';
}

.price {
  font-size: 70%;
  font-family: 'IBMPlexSansKR-Regular';
}

@media (max-width: 768px) {

  .product-title,
  .price,
  .card-title {
    font-size: 100%;
  }
}

@media (max-width: 576px) {
  .product-title {
    font-size: 140%;
  }

  .price {
    font-size: 120%;
  }
}