@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Nanum+Myeongjo:wght@800&display=swap');

/* 모든 요소를 감싼 가장 큰 범위의 div*/
.header {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #0840741e;
  padding-inline: 2rem;
  padding-block: 0.5%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../../../public/img/headerBG.jpg");
}

/* 카테고리 메뉴 제외하고 감싼 div */
/* .headerBox {
} */

/* 홈화면 로딩시 헤더에 보이는 요소들만 감싼 div (로고, 아이콘, 로그인, 회원가입 버튼)*/
.headerFix {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  width: 100%;
}

#navbar {
  z-index: 5;
  border: none;
  background-color: #ffffff;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("https://i.pinimg.com/564x/f0/34/63/f034632968845633ec399354377f84b3.jpg");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: bottom;
  box-shadow: 0 10px 15px rgba(8, 49, 68, 0.541);
}

/* auth에 따른 아이콘 크기 설정*/
/*user auth*/
#userIcon {
  width: 3rem;
  border-radius: 30px;
  background-color: #ffffffad;
}

/*admin auth*/
#adminIcon {
  width: 3rem;
  border-radius: 30px;
  background-color: #ffffffad;
}

.mypageToggle {
  margin-top: 1%;
  right: 0;
  padding: 10px;
}

.logo {
  /* width: calc(100px + 8vw); */
  width: calc(120px + 3vw);
  margin-top: 1%;
  border-radius: 50px;
  background-color: #ffffffa2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.377);
  margin-bottom: 1rem;
}

.goHome {
  width: 100%;
}

.anonymous a {
  font-size: calc(13px + 0.5vw);
  font-family: 'neurimboGothicRegular';
  text-decoration: none;
  color: #3a6581;
  font-weight: bold;
}

.submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.submenu li {
  margin: 10px 0;
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.submenu li:hover {
  color: #3a6581;
}

@media screen and (max-width: 1024px) {
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
  }



}

@media screen and (max-width: 768px) {
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4%;
  }

  #menuIcon {
    display: inline-block;
    width: 2rem;
  }

  #navbar {
    background-size: 65%;
  }

  #adminIcon,
  #userIcon {
    margin-left: 70%;
  }

}

@media screen and (max-height: 800px) {
  #navbar {
    background-size: 45%;
  }
  @media screen and (max-width: 550px) {
  
    #navbar {
      background-size: 37%;
    }
  
  
  }
  @media screen and (max-width: 360px) {
  
    #navbar {
      background-size: 65%;
    }
  
  
  }

}

@media screen and (max-height: 655px) {
  #navbar {
    background-size: 70%;
  }
  @media screen and (max-width: 1024px) {
    #navbar {
      background-size: 30%;
    }
  }
  @media screen and (max-width: 300px) {
    #navbar {
      background-size: 75%;
    }
  }
}