/* 모든 요소를 감싼 가장 큰 범위의 div*/
.header {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 3px solid rgba(0, 0, 0, 0.466);
}
/* 카테고리 메뉴 제외하고 감싼 div */
/* .headerBox {
} */

/* 홈화면 로딩시 헤더에 보이는 요소들만 감싼 div (로고, 아이콘, 로그인, 회원가입 버튼)*/
.headerFix {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}
/* 반응형시 나타나는 햄버거 아이콘의 부모 div*/

.hiddenMenu {
  border: 1px solid #ffffff00;
  width: 5rem;
  padding: 15px;
}

#menuIcon {
  display: none;
  margin-right: 5px;
  border: 1px solid black;
  max-width: 100%;
  height: auto; /* 이미지 비율을 유지하면서 크기 조절 */
}

/* auth에 따른 아이콘 크기 설정*/
/*user auth*/
#userIcon {
  width: 2.8rem;
}
/*admin auth*/
#adminIcon {
  width: 3rem;
}

.mypageToggle {
  right: 0;
  border: 1px solid black;
  padding: 15px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  border: solid 5px;
  height: 100%;
}

.goHome {
  text-decoration: none;
  color: black;
  width: 100%;
}

.submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.submenu li {
  margin: 10px 0;
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.submenu li:hover {
  color: #3a6581;
}

@media screen and (max-width: 768px) {
  .logo {
    font-size: 100%; /* 로고 크기를 줄임 */
    border-width: 3px; /* 테두리 두께를 줄임 */
  }
  .hiddenMenu {
    border: 1px solid black;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
  }
  #menuIcon {
    display: inline-block;
    width: 2.5rem;
  }
  
}

@media screen and (max-width: 550px) {
  #menuIcon {
    width: 1rem;
  }
}
