:root {
  --gap: 20px
}
.home {
  display: flex;
  flex-direction: column;
  height: auto;
}
.content {
  padding: var(--gap);
  flex: 1;
  display: flex;
  gap: var(--gap);
}

.menu {
  flex-basis: 20%; /* 메뉴 부분의 너비를 조정할 수 있습니다. */
  max-width: 240px;
  background-color: rgb(167, 167, 167);
  padding: 5px;
}

.main-content {
  flex-grow: 1;
  background-color: rgb(201, 201, 201);
}
