.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .content {
    flex: 1;
    display: flex;
  }
  
  .menu {
    flex-basis: 20%; /* 메뉴 부분의 너비를 조정할 수 있습니다. */
    background-color: lightgray;
  }
  
  .main-content {
    flex-grow: 1;
    background-color: lightblue;
  }
  