#userIcon {
  width: 2rem;
}
#adminIcon {
  width: 2.2rem;
}

li, .mypageList {
  list-style-type: none;
  text-decoration: none;
}

.nav-menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}

.profile {
  display: flex;
  justify-content: center;
  border: solid 1px black;

}
.profileImg {
  width: 70%;
}

.nav-menu-items {
  border: 1px solid black;
}

.closeMypage {
  width: 1.3rem;
  border: 1px solid black;
  float: right;
  margin-bottom: 10px;
}

.chatIcon_mp {
  width: 10%;
  float: right;
  padding: 2px;
}

.logout {
  width: 10%;
  padding: 2px;
  margin-left: 10px;
}

.mypage_nickname{
  border: 1px solid black;
}

@media screen and (max-width: 768px) {
  .profileImg {
    
  }
}