.sidebarBox {
  flex: 1;
  height: calc(100vh - 120px);
  /* position: sticky; */
  top: 50px;
  display: block;
}

.menuList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mainCategory {
  font-family: 'yg-jalnan';
  color: rgb(63, 73, 45);
}

.subCategory {
  font-family: 'TheJamsil5Bold';
  color: rgba(63, 73, 45, 0.822);
}