.sidebarBox {
  margin-top: 1%;
  flex: 1;
  margin-inline: 4%;
  display: block;
  /* border-right: 2px solid rgba(43, 138, 6, 0.247); */
}

.sidebarMenu {
  margin-top: 7%;
  margin-left: 5%;
}

.menuList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mainCategory {
  font-family: 'yg-jalnan';
  color: rgb(105, 145, 32);
}

.subCategory {
  font-family: 'TheJamsil5Bold';
  color: rgb(83, 114, 25);
}

@media screen and (max-width: 767px) {
  .sidebarMenu {
    margin-top: 0;
    margin-left: 0;
  }

}