
.pswdChk {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 30px;
    background-color: #fce085;;
    height: calc(100vh - 115px);
}

h3 {
    font-family: 'yg-jalnan';
    text-align: center;
}

.pswdChk_box {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 30px;
    background-color: #ffffff88;;
    width: 60%;
}

.text {
    font-family: SOYOMapleBoldTTF;
    margin-bottom: 1rem;
}

#submitBtn {
    font-family: SOYOMapleBoldTTF;
    width: 20%;
    margin-top: 1rem;
    margin-left: 75%;
    background-color: #6a863d;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: transparent;
}

#submitBtn:hover{
    background-color: #fce085;
    color: #66a03f;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
}

