
.pswdChk {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 30px;
    background-color: #fce085;;
    height: calc(100vh - 115px);
}

.pswdTitle {
    font-family: 'yg-jalnan';
    text-align: center;
    font-size: 1rem;
    padding-bottom: 1rem;
}

.pswdChk_box {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 30px;
    background-color: #ffffff88;;
    width: 60%;
    max-width: 400px;
}

.text {
    font-family: SOYOMapleBoldTTF;
    margin-bottom: 1rem;
}

#submitBtn {
    font-family: SOYOMapleBoldTTF;
    width: 20%;
    min-width: 45px;
    margin-top: 1rem;
    margin-left: 75%;
    background-color: #6a863d;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: transparent;
}

#submitBtn:hover{
    background-color: #fce085;
    color: #66a03f;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid;
}

@media screen and (max-width:767px) {
    #submitBtn{
        font-size: small;
        margin-left: 0;
        width: 100%;
    }

    .pswdTitle {
    }
}
@media screen and (max-width:300px) {
    .pswdTitle {
        font-family: 'yg-jalnan';
        text-align: center;
    }

    #submitBtn{
        font-size: small;
        margin-left: 0;
        width: 100%;
    }
}

