.signUpBox {
    width:100%
}
.signUpMain {
    background-color: #fce085;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'yg-jalnan';
    width: 80%;
    padding: 1%;
    margin-inline: 10%;
}

.joinTitle {
    text-align: center;
}

label {
    margin-right: 10px;
}

input {
    width: 100%;
    padding: 5px;
    font-size: 0.9rem;

    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(255, 255, 255, 0.25), 0 5px 5px rgba(0, 0, 0, 0.11);
}

input:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(61, 92, 4, 0.4);
}

Form div {
    margin: 10px;
}

#emailBtn {
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    color: rgb(15, 62, 98);
    font-size: 0.8rem;
    float: right;
}

#emailBtn:hover {
    color: rgb(255, 255, 255);
}

#joinBtn{
    float: right;
}

