
label {
    margin-right: 10px;
}

input {
    width: 100%;
    padding: 5px;
    font-size: 0.9rem;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(255, 255, 255, 0.25), 0 5px 5px rgba(0, 0, 0, 0.11);
}

input:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(61, 92, 4, 0.4);
}

Form div {
    margin: 10px;
}