
.admin-wrapper{
    display: flex;
    height: 100vh;
}

.admin-menu{
    width: 200px;
    padding: 16px;
    border: 1px black solid;
}

.admin-content{
    margin-left: 25px;
    flex: 1;
    padding: 16px;
}

.admin-chart{
    border: 1px solid blue;
    max-width: 1200px;
    height: 300px;
    margin: 20px;
}

.admin-category{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 800px;
    height: 700px;
    border: 1px solid blue;
    max-width: 800px;
    margin: 20px;
}

.admin-user-list{
    border: 1px solid blue;
    margin: 20px;
    width: 800px;
    height: 700px;
}

canvas{
    width: 100%;
}

