.AppBox {
  margin-inline: 5%;
}

.menu {
  border: solid 2px #5f5f5f81;
  float: left;
  width: 15%;
  padding: 5px;
  margin-inline: 10px;
}

.content {
  border: solid 2px #5f5f5f81;
  margin-left: 15%; /* .menu의 너비만큼 여백을 줍니다. */
  height: calc(100vh - 110px);
  overflow-y: auto;
  overflow-x: hidden;
    /* 스크롤바 스타일링 */
    
    /* scrollbar-width: thin; */
    scrollbar-color: #ffffff #b9b9b9a4; /* Firefox */

}

.content::-webkit-scrollbar-button {
  display: none;
}



@media screen and (max-width: 768px) {
  .menu{ 
    display: none;
    width: 0;
  }

  .content {
    width: 100%;
    margin-left: 0%;
    font-size: 12.5px;
  }

}
