
@font-face {
  font-family: 'yg-jalnan'; /*카테고리 대분류, 로그인, 회원가입*/
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'neurimboGothicRegular'; /*로그인 조인 버튼*/ 
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/neurimboGothicRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TTHakgyoansimUndongjangL';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimUndongjangL.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SOYOMapleBoldTTF'; /* 상품 title*/
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TTHakgyoansimUndongjangL';/*카테고리 중분류*/
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimUndongjangL.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.AppBox {
  margin-inline: 5%;
}

.header {
  z-index: 2; /* Header의 z-index 값을 설정 */
  border-bottom: 2px solid rgba(43, 138, 6, 0.247);
}

.menu { 
  display: flex;
  border-radius: 5px;
  float: left;
  /* width: 16%; */
  margin-right: 3px;
  height: calc(100vh - 115px);
}

#hamburger {
  display: none;
  width: 2rem;
}

.content {
  border-radius: 5px;
  margin-left: 15%; /* .menu의 너비만큼 여백을 줍니다. */
  height: calc(100vh - 115px);
  overflow-y: auto;
  overflow-x: hidden;
  /* 스크롤바 스타일링 */
  
  /* scrollbar-width: thin; */
  scrollbar-color: #ffffff #b9b9b9a4; /* Firefox */
  
}

#chatPage {
  overflow: hidden;
}



@media screen and (max-width: 767px) {
  .header {
    width: 79%;
    float: right;
    border-bottom: none;
  }
  .menu{ 
    width: 20%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8.2rem;
    background-image: linear-gradient(rgba(255, 255, 255, 0.2)
    , rgba(255, 255, 255, 0.2))
    ,url("../.././frontend/public/img/headerBG.jpg"); 
  }
  #hamburger {
    display: flex;
    width: 4.3rem;
    background-color: transparent;
    border: transparent;
  }

  .content {
    width: 100%;
    margin-left: 0%;
    font-size: 12.5px;
  }

}

@media screen and (max-width: 567px) {
  .menu{ 
    width: 19%;
  }
}

