
@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MoiraiOne-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_JAMO@1.0/MoiraiOne-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'neurimboGothicRegular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/neurimboGothicRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.AppBox {
  margin-inline: 5%;
}

.header {
  position: absolute;
  z-index: 2; /* Header의 z-index 값을 설정 */
}

.menu {
  border: solid 2px #5f5f5f81;
  float: left;
  width: 16%;
  margin-inline: 3px;
}

#hamburger {
  display: none;
  width: 2rem;
}

.content {
  border: solid 2px #5f5f5f81;
  margin-left: 15%; /* .menu의 너비만큼 여백을 줍니다. */
  height: calc(100vh - 110px);
  overflow-y: auto;
  overflow-x: hidden;
    /* 스크롤바 스타일링 */
    
    /* scrollbar-width: thin; */
    scrollbar-color: #ffffff #b9b9b9a4; /* Firefox */

}

.content::-webkit-scrollbar-button {
  display: none;
}



@media screen and (max-width: 767px) {
  .header {
    width: 79%;
    float: right;
  }
  .menu{ 
    width: 18%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5.5rem;
  }
  #hamburger {
    display: flex;
    width: 5rem;
    background-color: transparent;
    border: transparent;
  }

  .content {
    width: 100%;
    margin-left: 0%;
    font-size: 12.5px;
  }

}

